In [1]:
import pandas as pd
table1 = pd.read_csv('3-Table1.csv')
table2 = pd.read_csv('3-Table2.csv')

In [2]:
print(table1)

    userid  timestamp data_center  success
0    10032          0           A        0
1    10032          1           A        0
2    10032          2           B        1
3    10032          3           B        0
4    10032          4           B        0
5    10033          4           A        1
6    10033          5           A        1
7    10033          6           C        0
8    10033          7           C        1
9    10033          8           C        1
10   10034          9           A        1
11   10034         10           A        1
12   10035         11           B        1
13   10035         12           C        1
14   10035         13           D        1

In [3]:
print(table2)

   userid country
0   10032      US
1   10033      UK
2   10034      UK
3   10035     CHN

In [4]:
table_master = pd.merge(table1, table2, on='userid')
table_master['fail'] = table_master.apply(lambda x : 1 if x['success'] == 0 else 0, axis=1)

print(table_master)

    userid  timestamp data_center  success country  fail
0    10032          0           A        0      US     1
1    10032          1           A        0      US     1
2    10032          2           B        1      US     0
3    10032          3           B        0      US     1
4    10032          4           B        0      US     1
5    10033          4           A        1      UK     0
6    10033          5           A        1      UK     0
7    10033          6           C        0      UK     1
8    10033          7           C        1      UK     0
9    10033          8           C        1      UK     0
10   10034          9           A        1      UK     0
11   10034         10           A        1      UK     0
12   10035         11           B        1     CHN     0
13   10035         12           C        1     CHN     0
14   10035         13           D        1     CHN     0

In [5]:
# Q1. 求每个 data center，request fail的比例
table_master.groupby('data_center')['fail'].sum() / table_master.groupby('data_center')['fail'].count()

data_center
A    0.333333
B    0.500000
C    0.250000
D    0.000000
Name: fail, dtype: float64

In [6]:
# Q2. 求每个国家，request fail的
table_master.groupby('country')['fail'].sum() / table_master.groupby('country')['fail'].count()

country
CHN    0.000000
UK     0.142857
US     0.800000
Name: fail, dtype: float64

In [7]:
# Q3. 求每个国家，有多少个user发出的好友请求从来没有fail过
failed_user_ids = table_master[table_master['fail'] == 1]['userid'].unique() # 先找出fail过的userid
table = table_master[~table_master['userid'].isin(failed_user_ids)].groupby('country')['userid'].nunique()
print(table)

country
CHN    1
UK     1
Name: userid, dtype: int64

In [8]:
table_master[~table_master['userid'].isin(failed_user_ids)].groupby('country')['userid'].nunique()

country
CHN    1
UK     1
Name: userid, dtype: int64

In [9]:
failed_user_ids = table_master[table_master['fail'] == 1]['userid'].unique() # 先找出fail过的userid

In [10]:
for country in table_master['country'].unique():
    # dataframe 'and' condition 是用&并且加上括号
    print(country, table_master[(table_master['country'] == country) & (~table_master['userid'].isin(failed_user_ids))]['userid'].nunique())

US 0
UK 1
CHN 1